In [127]:
import pandas as pd
import csv
import numpy as np
import os
from fuzzywuzzy import fuzz
%matplotlib inline

In [658]:
os.listdir()

['.ipynb_checkpoints',
 'ign.xlsx',
 'metacritic1.csv',
 'metacritic2.csv',
 'metacritic3.csv',
 'sales1.csv',
 'sales2.csv',
 'steam1.csv',
 'steam2.csv',
 'Untitled.ipynb']

In [661]:
tidy_tuesday_data=pd.read_csv('metacritic1.csv')
ign_data=pd.read_excel('ign.xlsx',sheet_name=0)
metacritic_data=pd.read_csv('metacritic3.csv')
meta_data=pd.read_csv('metacritic2.csv')
sales=pd.read_csv('sales1.csv')
steam_user=pd.read_csv('steam1.csv')
cols=['userid','game','purchase','playtime']
steam_copy=steam_user.drop('0',axis=1)
steam_copy.columns=cols

In [662]:
steam_new=pd.read_csv('steam2.csv')

In [665]:
import os

S3_BUCKET_NAME = 'nw-adityagudal-s3'
RAW_DATA_FOLDER = "./data/external/"
RAW_DATA_FILENAMES=['ign.xlsx','metacritic2.csv','steam1.csv','steam2.csv','sales1.csv','sales2.csv','metacritic1.csv','metacritic3.csv']
RAW_DATA_WRITE_LOCATION = "./data/external/"
RAW_DATA_S3_DIR="game_data/"
S3_ACCESS_KEY = 'AKIAJ3MRAISA2ZU3KGNA'
MSIA423_S3_SECRET = os.environ.get('MSIA_423_SECRET')

PROCESS_DATAFRAMES=['ign','metacritic1','metacritic2','metacritic3','sales1','sales2','steam1','steam2']

In [668]:
import os
import logging
import re
import numpy as np
import pandas as pd
from glob import glob


from tqdm import tqdm





def read_data(PATH,files_to_read,df_names):
    """
    Reads csv and excel files
    :param str PATH: file path pointing to the directory with the data.
    :return `list`:a list of pandas dataframes
    """
    all_files={}
    excel_files = {}
    csv_files = {}

    #reading only csv files
    csv_iterator = glob(PATH+'*.csv')

    for file_idx in range(len(csv_iterator)):
        FILE_PATH=csv_iterator[file_idx]
        csv_files[df_names[file_idx+1]]=pd.read_csv(FILE_PATH)

    excel_iterator = glob(PATH+'*.xlsx')

    excel_files[df_names[0]] = pd.read_excel(excel_iterator[0],sheet_name=0)

    excel_files.update(csv_files)

    return excel_files


def filter_data(file):
    """
    1. Drops unnecessary columns
    2. Renames columns
    3. Removes/ Imputes null values
    4. Filters on certain columns, we want games release on and after year 2000
    5. Aggregates by using mean and transformations
    6. Change data types from string to datetime, datetime to int.

    :param file `string key`: A hashmap's keys of datasets/files to be filtered
    :return: Filtered files in a hashmap
    """

    if file == 'steam1':
        steam1_copy = files['steam1'].copy()
        column_names = ['userid','game','action','playtime','redundant']
        steam1_copy.columns = column_names
        steam1_copy = steam1_copy[steam1_copy['action'] == 'play']
        steam1_copy = steam1_copy.drop(['action','redundant'], axis=1)
        steam1_copy=steam1_copy.rename(columns={'game':'Game'})
        preprocessed_files['steam1'] = steam1_copy

    elif file == 'steam2':
        steam2_copy = files['steam2'].copy()
        column_names = ['name', 'all_reviews']
        steam2_copy = steam2_copy[column_names]
        steam2_copy = steam2_copy.dropna().reset_index().drop('index', axis=1)
        steam2_copy['Sentiment'] = extract_sentiment(steam2_copy['all_reviews'])
        steam2_copy=steam2_copy.rename(columns={'name':'Game'})
        steam2_copy=steam2_copy.groupby('Game',as_index=False).agg({'Sentiment':'mean'})
        preprocessed_files['steam2'] = steam2_copy

    elif file == 'sales1':
        sales_copy = files['sales1'].copy()
        column_names = ['Name','Genre','NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']
        sales_copy=sales_copy.dropna(axis=0)
        sales_copy = filter_on_year(sales_copy)
        sales_copy = sales_copy[column_names]
        sales_copy = sales_copy.rename(columns={'Name': 'Game'})
        sales_copy = sales_copy.groupby(['Game','Genre'], as_index=False).mean()
        preprocessed_files['sales'] = sales_copy

    elif file == 'ign':
        ign_copy = files['ign'].copy()
        ign_copy=ign_copy.drop('Platform',axis=1)
        ign_copy = ign_copy.groupby(['Game','Genre'], as_index=False).agg({'Score': 'mean'})
        ign_copy=ign_copy.rename(columns={'Score':'ignscore'})
        preprocessed_files['ign'] = ign_copy

    elif file == 'metacritic1':
        metacritic1_copy = files['metacritic1'].copy()
        column_names = ['game','owners','average_playtime']
        metacritic1_copy = filter_on_year(metacritic1_copy)
        metacritic1_copy['owners'] = metacritic1_copy['owners'].str.replace(',', '').apply(lambda x: mean_sample(x))
        metacritic1_copy = metacritic1_copy[column_names].dropna(subset=['game','average_playtime'])
        metacritic1_copy = metacritic1_copy.rename(columns={'game': 'Game'})
        metacritic1_copy = metacritic1_copy.groupby('Game', as_index=False).agg({'owners': 'mean','average_playtime':'mean'})
        preprocessed_files['metacritic1'] = metacritic1_copy

    elif file == 'metacritic2':
        metacritic2_copy = files['metacritic2'].copy()
        column_names=['game','genre', 'metascore', 'user_score']
        metacritic2_copy = filter_on_year(metacritic2_copy)
        metacritic2_copy = metacritic2_copy[column_names].dropna(subset=['genre'])
        metacritic2_copy = metacritic2_copy.rename(columns={'game': 'Game','user_score':'userscore'})
        metacritic2_copy = metacritic2_copy.groupby(['Game','genre'], as_index=False).agg({'metascore': 'mean', 'userscore': 'mean'})
        preprocessed_files['metacritic2'] = metacritic2_copy



    elif file == 'metacritic3':

        metacritic3_copy = files['metacritic3'].copy()
        column_names=['metascore', 'userscore']
        metacritic3_copy = filter_on_year(metacritic3_copy)
        metacritic3_copy = metacritic3_copy[metacritic3_copy['userscore'] != 'tbd']
        metacritic3_copy[column_names] = metacritic3_copy[column_names].astype(float)
        metacritic3_copy = metacritic3_copy.rename(columns={'name': 'Game'})
        metacritic3_copy = metacritic3_copy.groupby(['Game'], as_index=False).agg({'metascore': 'mean', 'userscore': 'mean'})
        preprocessed_files['metacritic3'] = metacritic3_copy

    return preprocessed_files

if __name__=='__main__':
    files_to_read =RAW_DATA_FILENAMES
    PATH = RAW_DATA_FOLDER
    df_names = PROCESS_DATAFRAMES

    try:
        logging.info('Ingesting files')
        files = read_data(PATH , files_to_read , df_names)
        logging.info('Ingested all files')
    except Exception as e:
        logging.error("Couldn't complete ingestion, try again",e)

    preprocessed_files = {}
    try:
        logging.info('Cleaning files')
        for file in tqdm(files.keys()):
            preprocessed_files=filter_data(file)
        logging.info('Cleaning complete')
    except Exception as e:
        logging.error("Couldn't complete cleaning, try again",e)

--- Logging error ---
Traceback (most recent call last):
  File "<ipython-input-668-6af06def7740>", line 131, in <module>
    files = read_data(PATH , files_to_read , df_names)
  File "<ipython-input-668-6af06def7740>", line 34, in read_data
    excel_files[df_names[0]] = pd.read_excel(excel_iterator[0],sheet_name=0)
IndexError: list index out of range

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\adity\Anaconda3\lib\logging\__init__.py", line 1025, in emit
    msg = self.format(record)
  File "C:\Users\adity\Anaconda3\lib\logging\__init__.py", line 869, in format
    return fmt.format(record)
  File "C:\Users\adity\Anaconda3\lib\logging\__init__.py", line 608, in format
    record.message = record.getMessage()
  File "C:\Users\adity\Anaconda3\lib\logging\__init__.py", line 369, in getMessage
    msg = msg % self.args
TypeError: not all arguments converted during string formatting
Call stack:
  File "C:\Users\adity\Anaconda3\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Users\adity\Anaconda3\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Users\adity\Anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "C:\Users\adity\Anaconda3\lib\site-packages\traitlets\config\application.py", line 664, in launch_instance
    app.start()
  File "C:\Users\adity\Anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 563, in start
    self.io_loop.start()
  File "C:\Users\adity\Anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 148, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\adity\Anaconda3\lib\asyncio\base_events.py", line 534, in run_forever
    self._run_once()
  File "C:\Users\adity\Anaconda3\lib\asyncio\base_events.py", line 1771, in _run_once
    handle._run()
  File "C:\Users\adity\Anaconda3\lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\adity\Anaconda3\lib\site-packages\tornado\ioloop.py", line 690, in <lambda>
    lambda f: self._run_callback(functools.partial(callback, future))
  File "C:\Users\adity\Anaconda3\lib\site-packages\tornado\ioloop.py", line 743, in _run_callback
    ret = callback()
  File "C:\Users\adity\Anaconda3\lib\site-packages\tornado\gen.py", line 787, in inner
    self.run()
  File "C:\Users\adity\Anaconda3\lib\site-packages\tornado\gen.py", line 748, in run
    yielded = self.gen.send(value)
  File "C:\Users\adity\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 365, in process_one
    yield gen.maybe_future(dispatch(*args))
  File "C:\Users\adity\Anaconda3\lib\site-packages\tornado\gen.py", line 209, in wrapper
    yielded = next(result)
  File "C:\Users\adity\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 272, in dispatch_shell
    yield gen.maybe_future(handler(stream, idents, msg))
  File "C:\Users\adity\Anaconda3\lib\site-packages\tornado\gen.py", line 209, in wrapper
    yielded = next(result)
  File "C:\Users\adity\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 542, in execute_request
    user_expressions, allow_stdin,
  File "C:\Users\adity\Anaconda3\lib\site-packages\tornado\gen.py", line 209, in wrapper
    yielded = next(result)
  File "C:\Users\adity\Anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 294, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\Users\adity\Anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 536, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "C:\Users\adity\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2855, in run_cell
    raw_cell, store_history, silent, shell_futures)
  File "C:\Users\adity\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2881, in _run_cell
    return runner(coro)
  File "C:\Users\adity\Anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 68, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\adity\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3058, in run_cell_async
    interactivity=interactivity, compiler=compiler, result=result)
  File "C:\Users\adity\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3249, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "C:\Users\adity\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3326, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-668-6af06def7740>", line 134, in <module>
    logging.error("Couldn't complete ingestion, try again",e)
Message: "Couldn't complete ingestion, try again"
Arguments: (IndexError('list index out of range'),)
--- Logging error ---
Traceback (most recent call last):
  File "<ipython-input-668-6af06def7740>", line 139, in <module>
    for file in tqdm(files.keys()):
NameError: name 'files' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\adity\Anaconda3\lib\logging\__init__.py", line 1025, in emit
    msg = self.format(record)
  File "C:\Users\adity\Anaconda3\lib\logging\__init__.py", line 869, in format
    return fmt.format(record)
  File "C:\Users\adity\Anaconda3\lib\logging\__init__.py", line 608, in format
    record.message = record.getMessage()
  File "C:\Users\adity\Anaconda3\lib\logging\__init__.py", line 369, in getMessage
    msg = msg % self.args
TypeError: not all arguments converted during string formatting
Call stack:
  File "C:\Users\adity\Anaconda3\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Users\adity\Anaconda3\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Users\adity\Anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "C:\Users\adity\Anaconda3\lib\site-packages\traitlets\config\application.py", line 664, in launch_instance
    app.start()
  File "C:\Users\adity\Anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 563, in start
    self.io_loop.start()
  File "C:\Users\adity\Anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 148, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\adity\Anaconda3\lib\asyncio\base_events.py", line 534, in run_forever
    self._run_once()
  File "C:\Users\adity\Anaconda3\lib\asyncio\base_events.py", line 1771, in _run_once
    handle._run()
  File "C:\Users\adity\Anaconda3\lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\adity\Anaconda3\lib\site-packages\tornado\ioloop.py", line 690, in <lambda>
    lambda f: self._run_callback(functools.partial(callback, future))
  File "C:\Users\adity\Anaconda3\lib\site-packages\tornado\ioloop.py", line 743, in _run_callback
    ret = callback()
  File "C:\Users\adity\Anaconda3\lib\site-packages\tornado\gen.py", line 787, in inner
    self.run()
  File "C:\Users\adity\Anaconda3\lib\site-packages\tornado\gen.py", line 748, in run
    yielded = self.gen.send(value)
  File "C:\Users\adity\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 365, in process_one
    yield gen.maybe_future(dispatch(*args))
  File "C:\Users\adity\Anaconda3\lib\site-packages\tornado\gen.py", line 209, in wrapper
    yielded = next(result)
  File "C:\Users\adity\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 272, in dispatch_shell
    yield gen.maybe_future(handler(stream, idents, msg))
  File "C:\Users\adity\Anaconda3\lib\site-packages\tornado\gen.py", line 209, in wrapper
    yielded = next(result)
  File "C:\Users\adity\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 542, in execute_request
    user_expressions, allow_stdin,
  File "C:\Users\adity\Anaconda3\lib\site-packages\tornado\gen.py", line 209, in wrapper
    yielded = next(result)
  File "C:\Users\adity\Anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 294, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)

  File "C:\Users\adity\Anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 536, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "C:\Users\adity\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2855, in run_cell
    raw_cell, store_history, silent, shell_futures)
  File "C:\Users\adity\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2881, in _run_cell
    return runner(coro)
  File "C:\Users\adity\Anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 68, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\adity\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3058, in run_cell_async
    interactivity=interactivity, compiler=compiler, result=result)
  File "C:\Users\adity\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3249, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "C:\Users\adity\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3326, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-668-6af06def7740>", line 143, in <module>
    logging.error("Couldn't complete cleaning, try again",e)
Message: "Couldn't complete cleaning, try again"
Arguments: (NameError("name 'files' is not defined"),)

In [663]:
import pandas as pd
import numpy as np
import os
import re
import logging

def mean_sample(x):
    """
    Used for the file metacritic1.csv which contains the series 'owners'
    Splits the column sample wise and takes its mean
    :param x: a pandas Series
    :return Series: the mean of each instance
    """
    x_list = x.split(' .. ')
    summ = 0
    for i in x_list:
        summ += int(i)

    return summ // 2

def filter_on_year(dataframe):
    """
    Used for certain files with release date or date as a field
    Filters out those games with release year before 2000
    :param dataframe: dataframe containing release dates of games
    :return dataframe: filtered with the year of each instance in integer format
    """

    if np.any(dataframe.columns.str.contains('date')):
        date_column = dataframe.columns[dataframe.columns.str.contains('date')][0]
        dataframe['Year'] = pd.to_datetime(dataframe[date_column]).dt.year.astype('int')

    else:
        dataframe['Year']=dataframe['Year'].astype('int')


    return dataframe[dataframe['Year'] >= 2000]





def correct_sentiment(series):
    """
    Used only for the file steam2.csv which contains the series 'all_reviews'
     Takes sentiment and reassigns new reviews to value 'New'
    :param series: steam2 all reviews series
    :return Series: sentiment score
    """
    sentiment = str(series.split(',')[0])

    if re.findall(r'reviews', sentiment):
        sentiment = 'New'

    return sentiment

def extract_sentiment(series):
    """
    Used only for the file steam2.csv which contains the series 'all_reviews'
    Extracts sentiment and maps it to a scale score
    :param x: steam2 all reviews series
    :return Series: sentiment score

    """
    scale_dict={'New': 5, 'Mixed': 5, 'Mostly Positive': 8, 'Positive': 7, 'Very Positive': 9, 'Very Negative': 1,
         'Negative': 3, 'Mostly Negative': 2, 'Overwhelmingly Postive': 10, 'Overwhelmingly Negative': 0}
    sentiment_series = series.apply(lambda x:correct_sentiment(x))

    return sentiment_series.map(scale_dict)

In [669]:
tidy_tuesday_data['Year']=pd.to_datetime(tidy_tuesday_data.release_date).dt.year.astype('int')

tidy_tuesday_data[tidy_tuesday_data['Year']>=2000].dropna(subset=['game','average_playtime']).isna().sum()

number                  0
game                    0
release_date            0
price                3092
owners                  0
developer             150
publisher             106
average_playtime        0
median_playtime         4
metascore           23829
Year                    0
dtype: int64

In [652]:
metacritic_data.merge(meta_data,on='name')

KeyError: 'name'

In [639]:
ign_data.isna().sum()

Game        0
Platform    0
Score       0
Genre       0
dtype: int64

In [610]:
steam_copy[steam_copy['purchase']=='play'].merge(steam_new,left_on='game',right_on='name',how='left')

,userid,game,purchase,playtime,url,types,name,desc_snippet,recent_reviews,all_reviews,...,game_details,languages,achievements,genre,game_description,mature_content,minimum_requirements,recommended_requirements,original_price,discount_price
0,151603712,The Elder Scrolls V Skyrim,play,273.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,151603712,Fallout 4,play,87.0,https://store.steampowered.com/app/377160/Fall...,app,Fallout 4,"Bethesda Game Studios, the award-winning creat...","Mostly Positive,(706),- 70% of the 706 user re...","Mostly Positive,(90,387),- 70% of the 90,387 u...",...,"Single-player,Steam Achievements,Full controll...","English,French,Italian,German,Spanish - Spain,...",84.0,RPG,"About This Game Bethesda Game Studios, the aw...",NaN,"Minimum:,Requires a 64-bit processor and opera...","Recommended:,Requires a 64-bit processor and o...",$29.99,$14.99
2,151603712,Spore,play,14.9,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,151603712,Fallout New Vegas,play,12.1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,151603712,Left 4 Dead 2,play,8.9,https://store.steampowered.com/app/550/Left_4_...,app,Left 4 Dead 2,"Set in the zombie apocalypse, Left 4 Dead 2 (L...","Overwhelmingly Positive,(3,266),- 96% of the 3...","Overwhelmingly Positive,(156,890),- 96% of the...",...,"Single-player,Multi-player,Co-op,Steam Achieve...","English,Danish,Dutch,Finnish,French,German,Ita...",70.0,Action,"About This Game Set in the zombie apocalypse,...",Mature Content Description The developers de...,"Minimum:,OS:,Windows® 7 32/64-bit / Vista 32/6...","Recommended:,OS:,Windows® 7 32/64-bit / Vista ...",$9.99,$14.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70501,128470551,Magic Duels,play,2.2,https://store.steampowered.com/app/316010/Magi...,app,Magic Duels,MORE CARDS. MORE STRATEGY. BIGGER STORY. Colle...,"Mixed,(48),- 50% of the 48 user reviews in the...","Mostly Positive,(23,565),- 70% of the 23,565 u...",...,"Single-player,Multi-player,Co-op,Shared/Split ...","English,French,Italian,German,Spanish - Spain,...",49.0,"Free to Play,Strategy",About This Game MORE CARDS. MORE STRATEGY. BI...,NaN,NaN,NaN,Free to Play,NaN
70502,128470551,Titan Souls,play,1.5,https://store.steampowered.com/app/297130/Tita...,app,Titan Souls,Between our world and the world beyond lie the...,"Mostly Positive,(53),- 77% of the 53 user revi...","Very Positive,(3,459),- 80% of the 3,459 user ...",...,"Single-player,Steam Achievements,Full controll...","English,German,French,Spanish - Spain,Portugue...",27.0,"Action,Adventure,Indie",About This Game Between our world and the wor...,NaN,NaN,NaN,$14.99,NaN
70503,128470551,Grand Theft Auto Vice City,play,1.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70504,128470551,RUSH,play,1.4,https://store.steampowered.com/app/844040/RUSH/,app,RUSH,Are you ready for the ultimate thrill ride? Ta...,NaN,"Very Positive,(69),- 85% of the 69 user review...",...,"Single-player,Multi-player,Online Multi-Player...",English,16.0,"Action,Racing,Simulation,Sports",About This Game Are you ready for the ultima...,NaN,"Minimum:,Requires a 64-bit processor and opera...","Recommended:,Requires a 64-bit processor and o...",$19.99,$13.99
70505,128470551,RUSH,play,1.4,https://store.steampowered.com/app/38720/RUSH/,app,RUSH,From the twisted puzzle minds behind the award...,NaN,"Very Positive,(1,019),- 90% of the 1,019 user ...",...,"Single-player,Steam Achievements,Steam Cloud","English,Dutch,French,German,Italian,Spanish - ...",25.0,"Casual,Indie,Strategy",About This Game From the twisted puzzle minds...,NaN,WARNING: CURRENTLY NOT COMPATIBLE WITH OS X 10...,"OS:,OS X version Leopard 10.5.8, Snow Leopard ...",$4.99,$15.27

In [606]:
steam_copy[steam_copy['purchase']=='play']

           userid                        game purchase  playtime
0       151603712  The Elder Scrolls V Skyrim     play     273.0
2       151603712                   Fallout 4     play      87.0
4       151603712                       Spore     play      14.9
6       151603712           Fallout New Vegas     play      12.1
8       151603712               Left 4 Dead 2     play       8.9
...           ...                         ...      ...       ...
199990  128470551                Fallen Earth     play       2.4
199992  128470551                 Magic Duels     play       2.2
199994  128470551                 Titan Souls     play       1.5
199996  128470551  Grand Theft Auto Vice City     play       1.5
199998  128470551                        RUSH     play       1.4

[70489 rows x 4 columns]

In [504]:
steam_new=steam_new[steam_new['release_date']!='TBA']

In [530]:
steam_new.release_date.sort_values()

39977    (When) I'm ready!
31936              08-2019
36244         12 July 2019
37088              14 July
37457         17 July 2019
               ...
40401                  NaN
40454                  NaN
40536                  NaN
40651                  NaN
40701                  NaN
Name: release_date, Length: 40833, dtype: object

In [671]:

steam_new_data=steam_new[['name','all_reviews']]

In [672]:
steam_new_data=steam_new_data.dropna().reset_index().drop('index',axis=1)

In [279]:
def owners(x):
    num_owners=str(x.split(',')[1]).replace(',','')

    if re.findall(r'reviews',sentiment):
        sentiment='New'
        
    return sentiment

In [673]:
import re
def sentiment(x):
    sentiment=str(x.split(',')[0])
    
    if re.findall(r'reviews',sentiment):
        sentiment='New'
        
    return sentiment
        
steam_new_data['Sentiment']=steam_new_data.all_reviews.apply(lambda x:sentiment(x))

steam_new_data

,name,all_reviews,Sentiment
0,DOOM,"Very Positive,(42,550),- 92% of the 42,550 use...",Very Positive
1,PLAYERUNKNOWN'S BATTLEGROUNDS,"Mixed,(836,608),- 49% of the 836,608 user revi...",Mixed
2,BATTLETECH,"Mostly Positive,(7,030),- 71% of the 7,030 use...",Mostly Positive
3,DayZ,"Mixed,(167,115),- 61% of the 167,115 user revi...",Mixed
4,EVE Online,"Mostly Positive,(11,481),- 74% of the 11,481 u...",Mostly Positive
...,...,...,...
28465,A Room Beyond,"Positive,(11),- 90% of the 11 user reviews for...",Positive
28466,Die In The Dark,"1 user reviews,- Need more user reviews to gen...",New
28467,Chasing the Stars,"Mostly Positive,(10),- 70% of the 10 user revi...",Mostly Positive
28468,Fruit Tower Defense,"4 user reviews,- Need more user reviews to gen...",New
28469,Nanoui,"Mostly Negative,(14),- 28% of the 14 user revi...",Mostly Negative

In [674]:
sales_data=sales_2019[['Name', 'Year']].merge(sales[['Name','Year','Genre','Global_Sales']],on=['Name','Year'])

In [675]:
sales_data.isna().sum()

Name            0
Year            5
Genre           0
Global_Sales    0
dtype: int64

In [676]:
sales_data=sales_data.dropna()

In [677]:
sales_data['Year']=sales_data['Year'].astype('int')
sales_data=sales_data[sales_data['Year']>=2000]
sales_data=sales_data.drop(['Year'],axis=1)

In [691]:
metacritic_data.groupby('name',as_index=False).agg({'metascore':'mean','userscore':'mean'})

DataError: No numeric types to aggregate

In [679]:
tidy_tuesday_data['Year']=pd.to_datetime(tidy_tuesday_data.release_date).dt.year.astype('int')

final_tidy_games=tidy_tuesday_data[tidy_tuesday_data['Year']>=2000]

def take_mean(x):
    x_list=x.split(' .. ')
    summ=0
    for i in x_list:
        summ+=int(i)
        
    return summ//2

final_tidy_games['owners']=final_tidy_games.owners.str.replace(',','').apply(lambda x:take_mean(x))
final_tidy_games=final_tidy_games[['game','owners']]

In [682]:
tidy_tuesday_data

,number,game,release_date,price,owners,developer,publisher,average_playtime,median_playtime,metascore,Year
0,1,Half-Life 2,"Nov 16, 2004",9.99,"10,000,000 .. 20,000,000",Valve,Valve,110.0,66.0,96.0,2004
1,3,Counter-Strike: Source,"Nov 1, 2004",9.99,"10,000,000 .. 20,000,000",Valve,Valve,236.0,128.0,88.0,2004
2,21,Counter-Strike: Condition Zero,"Mar 1, 2004",9.99,"10,000,000 .. 20,000,000",Valve,Valve,10.0,3.0,65.0,2004
3,47,Half-Life 2: Deathmatch,"Nov 1, 2004",4.99,"5,000,000 .. 10,000,000",Valve,Valve,0.0,0.0,NaN,2004
4,36,Half-Life: Source,"Jun 1, 2004",9.99,"2,000,000 .. 5,000,000",Valve,Valve,0.0,0.0,NaN,2004
...,...,...,...,...,...,...,...,...,...,...,...
26683,8842,Draw Near,"Apr 15, 2018",NaN,"0 .. 20,000",Omniscience,Taiga Nishimura,0.0,0.0,NaN,2018
26684,8843,Alone,"May 1, 2018",0.99,"0 .. 20,000",Killed Pixel Games,Killed Pixel Games,0.0,0.0,NaN,2018
26685,8844,qrth-phyl,"Jul 19, 2018",4.99,"0 .. 20,000",Verran,Verran,0.0,0.0,NaN,2018
26686,8845,Guns and Notes,"Jan 26, 2018",9.99,"0 .. 20,000",VR Factory,VR Factory,0.0,0.0,NaN,2018
26687,8846,VANILLA - GARDEN OF JUDGEMENT,"Aug 10, 2018",14.99,"0 .. 20,000","CHARON, Kaoru Nekofuji",CHARON,0.0,0.0,NaN,2018

In [680]:
final_tidy_games.owners.value_counts()

10000        17923
35000         3126
75000         1733
150000        1408
350000        1329
750000         546
1500000        325
3500000        211
7500000         50
15000000        30
75000000         3
35000000         3
150000000        1
Name: owners, dtype: int64

In [166]:
final_ign=ign_data.groupby(['Game','Genre'],as_index=False).agg({'Score':'mean'})

                            Name  Global_Sales
0                     Wii Sports         82.74
2                 Mario Kart Wii         35.82
3              Wii Sports Resort         33.00
4          New Super Mario Bros.         30.01
7      New Super Mario Bros. Wii         28.62
...                          ...           ...
31298   Worms Forts: Under Siege          0.07
31299                      Yager          0.05
31300       Ys I & II Chronicles          0.09
31303    The Night of the Rabbit          0.04
31304                    Trine 2          0.03

[29539 rows x 2 columns]

In [ ]:
metacritic_data['year']=pd.to_datetime(metacritic_data['date']).dt.year.astype('int')
metacritic_data=metacritic_data[metacritic_data['userscore']!='tbd']
metacritic_data[['metascore','userscore']]=metacritic_data[['metascore','userscore']].astype(float)
metacritic_data=metacritic_data.groupby(['name','year'],as_index=False).agg({'metascore':'mean','userscore':'mean'})

In [ ]:
meta_data['year']=pd.to_datetime(meta_data['release_date']).dt.year.astype('int')
final_meta_data=meta_data.loc[meta_data['year']>=2000,['game','metascore','user_score']]

In [ ]:
pc_data=steam_copy[steam_copy['purchase']=='play'].drop(['userid','purchase'],axis=1).groupby('game',as_index=False).mean()

In [653]:
meta_data.head()

,game,platform,developer,genre,number_players,rating,release_date,positive_critics,neutral_critics,negative_critics,positive_users,neutral_users,negative_users,metascore,user_score
0,Portal 2,PC,Valve Software,Action,NaN,E10+,"Apr 18, 2011",51,1,0,1700,107,19,95,90
1,The Elder Scrolls V: Skyrim,PC,Bethesda Game Studios,Role-Playing,No Online Multiplayer,M,"Nov 10, 2011",32,0,0,1616,322,451,94,82
2,The Legend of Zelda: Ocarina of Time 3D,3DS,GREZZO,Miscellaneous,No Online Multiplayer,E10+,"Jun 19, 2011",84,1,0,283,20,5,94,90
3,Batman: Arkham City,PC,Rocksteady Studios,Action Adventure,NaN,T,"Nov 21, 2011",27,0,0,240,34,27,91,87
4,Super Mario 3D Land,3DS,Nintendo,Action,No Online Multiplayer,E,"Nov 13, 2011",81,1,0,251,39,11,90,84

In [703]:
ign_data.Genre.value_counts()

Action                   3628
Sports                   1854
Shooter                  1472
Racing                   1189
Strategy                 1013
                         ...
Simulation, Adventure       1
Wrestling, Simulation       1
Sports, Editor              1
Sports, Party               1
Adventure, Adventure        1
Name: Genre, Length: 96, dtype: int64

In [704]:
meta_data.genre.value_counts()

Action                          1846
Action Adventure                 776
Role-Playing                     596
Adventure                        505
Strategy                         431
Miscellaneous                    282
Sports                           227
General                          173
Racing                           152
Simulation                       152
Puzzle                           108
Driving                           81
Sci-Fi                            58
Fantasy                           54
Modern                            38
Shooter                           28
Action RPG                        25
Horror                            25
Platformer                        24
Historic                          18
First-Person                      13
Traditional                        8
PC-style RPG                       6
Arcade                             6
Console-style RPG                  6
GT / Street                        5
Massively Multiplayer Online       5
Sim                                4
Tycoon                             4
Alternative                        3
Scrolling                          3
Third-Person                       3
Japanese-Style                     3
2D                                 2
Military                           2
Party                              2
Fighting                           2
Card Battle                        2
3D                                 2
Virtual Life                       1
City Building                      1
Beat-'Em-Up                        1
Other                              1
Turn-Based                         1
Compilation                        1
Edutainment                        1
WWI                                1
Tactical                           1
Breeding/Constructing              1
Formula One                        1
MOBA                               1
Rally / Offroad                    1
Music                              1
Name: genre, dtype: int64

In [45]:
def match_name(name, list_names, min_score=0):
    # -1 score incase we don't get any matches
    max_score = -1
    # Returning empty name for no match as well
    max_name = ""
    # Iternating over all names in the other
    for name2 in list_names:
        #Finding fuzzy match score
        score = fuzz.ratio(name, name2)
        # Checking if we are above our threshold and have a better score
        if (score > min_score) & (score > max_score):
            max_name = name2
            max_score = score
    return (max_name, max_score)

In [ ]:
# List for dicts for easy dataframe creation
dict_list = []
# iterating over our players without salaries found above
for name in tidy_tuesday_data.game:
    # Use our method to find best match, we can set a threshold here
    match = match_name(game,meta_data.player_name, 75)
    
    # New dict for storing data
    dict_ = {}
    dict_.update({"player_name" : name})
    dict_.update({"match_name" : match[0]})
    dict_.update({"score" : match[1]})
    dict_list.append(dict_)
    
merge_table = pd.DataFrame(dict_list)
# Display results
merge_table

In [696]:
final_tidy_games

                                 game    owners
0                         Half-Life 2  15000000
1              Counter-Strike: Source  15000000
2      Counter-Strike: Condition Zero  15000000
3             Half-Life 2: Deathmatch   7500000
4                   Half-Life: Source   3500000
...                               ...       ...
26683                       Draw Near     10000
26684                           Alone     10000
26685                       qrth-phyl     10000
26686                  Guns and Notes     10000
26687   VANILLA - GARDEN OF JUDGEMENT     10000

[26688 rows x 2 columns]

In [700]:
final_metacritic_data.merge(final_meta_data,left_on='name',right_on='game')

,name,metascore_x,userscore,game,metascore_y,user_score
0,#IDARB,77.0,7.10,#IDARB,77,69
1,.hack//G.U. Last Recode,72.5,7.15,.hack//G.U. Last Recode,76,79
2,.hack//G.U. Last Recode,72.5,7.15,.hack//G.U. Last Recode,69,72
3,0RBITALIS,73.0,7.30,0RBITALIS,73,73
4,1-2-Switch,58.0,4.80,1-2-Switch,58,48
...,...,...,...,...,...,...
6323,inFamous: First Light,73.0,7.40,inFamous: First Light,73,74
6324,inFamous: Second Son,80.0,8.00,inFamous: Second Son,80,80
6325,inMomentum,59.0,5.20,inMomentum,59,52
6326,oOo: Ascension,70.0,8.00,oOo: Ascension,70,73
6327,theHunter: Call of the Wild,64.0,7.50,theHunter: Call of the Wild,64,74

In [692]:
final_meta_data

                                         game  metascore  user_score
0                                    Portal 2         95          90
1                 The Elder Scrolls V: Skyrim         94          82
2     The Legend of Zelda: Ocarina of Time 3D         94          90
3                         Batman: Arkham City         91          87
4                         Super Mario 3D Land         90          84
...                                       ...        ...         ...
5694                  Modern Combat: Blackout         53          57
5695                                   Fimbul         52          18
5696                          Generation Zero         50          57
5697                                     Vane         49          55
5698                               Left Alive         37          79

[5699 rows x 3 columns]

In [244]:
merged_sales_tidy=sales_data.merge(final_tidy_games,left_on='Name',right_on='game',how='inner').drop('game',axis=1).groupby('Name',as_index=False).mean()

In [257]:
merged_sales_ign=sales_data.merge(final_ign,left_on='Name',right_on='Game').drop('Game',axis=1).groupby(['Name','Genre'],as_index=False).mean()

In [262]:
merged_sales_metacritic1=sales_data.merge(final_meta_data,left_on='Name',right_on='game').drop('game',axis=1).groupby(['Name'],as_index=False).mean()

In [263]:
merged_sales_metacritic2=sales_data.merge(final_metacritic_data,left_on='Name',right_on='name').drop('name',axis=1).groupby(['Name'],as_index=False).mean()

In [268]:
merged_sales_steam1=sales_data.merge(pc_data,left_on='Name',right_on='game').drop('game',axis=1).groupby(['Name'],as_index=False).mean()

In [349]:
merged_sales_steam2=sales_data.merge(steam_new_data,left_on='Name',right_on='name',how='right').drop(['Name','all_reviews'],axis=1)

,game,platform,developer,genre,number_players,rating,release_date,positive_critics,neutral_critics,negative_critics,positive_users,neutral_users,negative_users,metascore,user_score
0,Portal 2,PC,Valve Software,Action,NaN,E10+,"Apr 18, 2011",51,1,0,1700,107,19,95,90
1,The Elder Scrolls V: Skyrim,PC,Bethesda Game Studios,Role-Playing,No Online Multiplayer,M,"Nov 10, 2011",32,0,0,1616,322,451,94,82
2,The Legend of Zelda: Ocarina of Time 3D,3DS,GREZZO,Miscellaneous,No Online Multiplayer,E10+,"Jun 19, 2011",84,1,0,283,20,5,94,90
3,Batman: Arkham City,PC,Rocksteady Studios,Action Adventure,NaN,T,"Nov 21, 2011",27,0,0,240,34,27,91,87
4,Super Mario 3D Land,3DS,Nintendo,Action,No Online Multiplayer,E,"Nov 13, 2011",81,1,0,251,39,11,90,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5694,Modern Combat: Blackout,Switch,Gameloft,Action,No Online Multiplayer,NaN,"Feb 14, 2019",0,5,2,1,0,1,53,57
5695,Fimbul,PS4,Zaxis,Action Adventure,No Online Multiplayer,NaN,"Feb 28, 2019",0,7,2,1,0,0,52,18
5696,Generation Zero,PC,Avalanche Studios,Action Adventure,Online Multiplayer,T,"Mar 26, 2019",1,11,6,5,2,6,50,57
5697,Vane,PS4,Friend & Foe,Adventure,No Online Multiplayer,E10+,"Jan 15, 2019",3,26,22,2,2,2,49,55
5698,Left Alive,PS4,"Square Enix, ilinx inc.",Action Adventure,No Online Multiplayer,M,"Mar 5, 2019",1,7,27,25,8,21,37,79

In [ ]:
merged_sales

In [288]:
merged_sales_ign.sort_values(by='Global_Sales')

                           Name                Genre  Global_Sales  Score
1832        Mini Desktop Racing               Racing          0.01    1.2
1424             Jewel Quest II               Puzzle          0.01    7.7
881          East India Company             Strategy          0.01    7.7
2396    Razor Freestyle Scooter               Sports          0.01    6.2
2914                   Survivor            Adventure          0.01    5.0
...                         ...                  ...           ...    ...
2120  New Super Mario Bros. Wii           Platformer         28.62    8.9
2117      New Super Mario Bros.           Platformer         30.01    9.5
3458          Wii Sports Resort               Sports         33.00    7.7
1706             Mario Kart Wii       Racing, Action         35.82    8.5
3457                 Wii Sports  Sports, Compilation         82.74    7.5

[3573 rows x 4 columns]

In [292]:
def min_max_scaler(x):
    return (x-np.min(x))/(np.max(x)-np.min(x))
merged_sales_metacritic1[['metascore','user_score']]=merged_sales_metacritic1[['metascore','user_score']].apply(lambda x:10*min_max_scaler(x))

In [295]:
merged_sales_metacritic1.columns=merged_sales_metacritic2.columns

In [293]:
merged_sales_metacritic2[['metascore','userscore']]=merged_sales_metacritic2[['metascore','userscore']].apply(lambda x:10*min_max_scaler(x))

In [300]:
merged_sales_metacritic2

                                  Name  Global_Sales  metascore  userscore
0                           007 Racing      0.530000   4.025974   4.719101
1               007: Quantum of Solace      0.653333   5.649351   7.078652
2         007: The World is not Enough      1.235000   5.324675   7.078652
3                            1701 A.D.      0.300000   7.662338   8.651685
4     18 Wheeler: American Pro Trucker      0.303333   4.935065   6.825843
...                                ...           ...        ...        ...
3468                Zumba Fitness Rush      0.190000   6.883117   6.404494
3469                           de Blob      0.970000   7.402597   8.426966
3470                         de Blob 2      0.165000   7.029221   7.598315
3471                        echochrome      0.090000   7.792208   7.977528
3472                            nail'd      0.110000   6.017316   7.303371

[3473 rows x 4 columns]

In [302]:
merged_sales_metacritic=pd.concat([merged_sales_metacritic1,merged_sales_metacritic2]).groupby('Name',as_index=False).mean()

In [350]:
merged_sales_steam2.Sentiment.value_counts()

New                        11110
Very Positive               5234
Mixed                       5027
Mostly Positive             3591
Positive                    3575
Mostly Negative              795
Overwhelmingly Positive      418
Negative                     138
Very Negative                 37
Overwhelmingly Negative        7
Name: Sentiment, dtype: int64

In [351]:
merged_sales_steam2['sentiment_score']=merged_sales_steam2.Sentiment.map({'New':5,'Mixed':5,'Mostly Positive':8,'Positive':7,'Very Positive':9,'Very Negative':1,'Negative':3,'Mostly Negative':2,'Overwhelmingly Postive':10,'Overwhelmingly Negative':0})

In [627]:
pd.to_datetime(metacritic_data.date).dt.year

0        2013
1        2013
2        2013
3        2013
4        2013
         ...
15642    2017
15643    2017
15644    2017
15645    2017
15646    2017
Name: date, Length: 15647, dtype: int64

In [321]:
from skearn.impute import IterativeImputer

Iterative
merged_sales_steam2[['name','sentiment_score','Global_Sales']]

name                   0
sentiment_score      418
Global_Sales       28119
dtype: int64

In [305]:
merged_sales_ign.drop('Genre',axis=1)

                                  Name  Global_Sales  Score
0                           007 Racing      0.530000  5.000
1                            1 vs. 100      0.090000  6.000
2                            1701 A.D.      0.300000  8.200
3                  2002 FIFA World Cup      0.276667  8.500
4     2010 FIFA World Cup South Africa      0.750000  7.275
...                                ...           ...    ...
3568                      Zoo Tycoon 2      0.060000  7.500
3569                   Zoo Tycoon 2 DS      0.300000  7.000
3570                     Zoo Tycoon DS      1.000000  4.000
3571                           ZooCube      0.035000  6.550
3572                         de Blob 2      0.165000  7.875

[3573 rows x 3 columns]

In [330]:
merged_sales_metacritic_ign=merged_sales_metacritic.merge(merged_sales_ign,on=['Name','Global_Sales'],how='outer').rename(columns={'Score':'ignscore'}).drop('Genre',axis=1)

In [333]:
merged_sales_meta_ign_tidy=merged_sales_metacritic_ign.merge(merged_sales_tidy,on=['Name','Global_Sales'],how='outer')

In [352]:
merged_sales_steam2=merged_sales_steam2.rename(columns={'name':'Name'})[['Name','sentiment_score','Global_Sales']].groupby(['Name','sentiment_score'],as_index=False).mean()

In [355]:
merged_sales_steam=merged_sales_steam2.merge(merged_sales_steam1,on=['Name','Global_Sales'],how='outer')

In [359]:
merged_final=merged_sales_meta_ign_tidy.merge(merged_sales_steam,on=['Name','Global_Sales'],how='outer')

In [553]:
merged_sales_steam

,Name,sentiment_score,Global_Sales,playtime
0,"""BUTTS: The VR Experience""",8.0,NaN,NaN
1,"""Barely Attuned Magic Thingy"" Staff",5.0,NaN,NaN
2,"""Glow Ball"" - The billiard puzzle game",5.0,NaN,NaN
3,"""Lethargic Sentience"" Wand",5.0,NaN,NaN
4,"""LoveChoice - Original Sound Track""",5.0,NaN,NaN
...,...,...,...,...
28320,Winning Post 8 2015,NaN,0.020000,127.00
28321,Wolfenstein,NaN,0.416667,26.00
28322,World in Conflict,NaN,0.040000,0.55
28323,Worldwide Soccer Manager 2009,NaN,1.150000,295.00
28324,X Rebirth,NaN,0.080000,40.00

In [615]:
data=merged_sales_steam.iloc[:,1:]

In [632]:
data.isna().sum()

sentiment_score    0
Global_Sales       0
playtime           0
dtype: int64

In [617]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

imputer=IterativeImputer(random_state=0,max_iter=1000,min_value=0)
imputer.fit(data)

IterativeImputer(add_indicator=False, estimator=None,
                 imputation_order='ascending', initial_strategy='mean',
                 max_iter=1000, max_value=None, min_value=0, missing_values=nan,
                 n_nearest_features=None, random_state=0,
                 sample_posterior=False, tol=0.001, verbose=0)

In [619]:
data=pd.DataFrame(imputer.transform(data),columns=merged_sales_steam.columns[1:])
merged_sales_steam=pd.concat([merged_sales_steam.iloc[:,0],data],axis=1)

In [635]:
steam_new

,url,types,name,desc_snippet,recent_reviews,all_reviews,release_date,developer,publisher,popular_tags,game_details,languages,achievements,genre,game_description,mature_content,minimum_requirements,recommended_requirements,original_price,discount_price
0,https://store.steampowered.com/app/379720/DOOM/,app,DOOM,Now includes all three premium DLC packs (Unto...,"Very Positive,(554),- 89% of the 554 user revi...","Very Positive,(42,550),- 92% of the 42,550 use...","May 12, 2016",id Software,"Bethesda Softworks,Bethesda Softworks","FPS,Gore,Action,Demons,Shooter,First-Person,Gr...","Single-player,Multi-player,Co-op,Steam Achieve...","English,French,Italian,German,Spanish - Spain,...",54.0,Action,"About This Game Developed by id software, the...",NaN,"Minimum:,OS:,Windows 7/8.1/10 (64-bit versions...","Recommended:,OS:,Windows 7/8.1/10 (64-bit vers...",$19.99,$14.99
1,https://store.steampowered.com/app/578080/PLAY...,app,PLAYERUNKNOWN'S BATTLEGROUNDS,PLAYERUNKNOWN'S BATTLEGROUNDS is a battle roya...,"Mixed,(6,214),- 49% of the 6,214 user reviews ...","Mixed,(836,608),- 49% of the 836,608 user revi...","Dec 21, 2017",PUBG Corporation,"PUBG Corporation,PUBG Corporation","Survival,Shooter,Multiplayer,Battle Royale,PvP...","Multi-player,Online Multi-Player,Stats","English,Korean,Simplified Chinese,French,Germa...",37.0,"Action,Adventure,Massively Multiplayer",About This Game PLAYERUNKNOWN'S BATTLEGROUND...,Mature Content Description The developers de...,"Minimum:,Requires a 64-bit processor and opera...","Recommended:,Requires a 64-bit processor and o...",$29.99,NaN
2,https://store.steampowered.com/app/637090/BATT...,app,BATTLETECH,Take command of your own mercenary outfit of '...,"Mixed,(166),- 54% of the 166 user reviews in t...","Mostly Positive,(7,030),- 71% of the 7,030 use...","Apr 24, 2018",Harebrained Schemes,"Paradox Interactive,Paradox Interactive","Mechs,Strategy,Turn-Based,Turn-Based Tactics,S...","Single-player,Multi-player,Online Multi-Player...","English,French,German,Russian",128.0,"Action,Adventure,Strategy",About This Game From original BATTLETECH/Mec...,NaN,"Minimum:,Requires a 64-bit processor and opera...","Recommended:,Requires a 64-bit processor and o...",$39.99,NaN
3,https://store.steampowered.com/app/221100/DayZ/,app,DayZ,The post-soviet country of Chernarus is struck...,"Mixed,(932),- 57% of the 932 user reviews in t...","Mixed,(167,115),- 61% of the 167,115 user revi...","Dec 13, 2018",Bohemia Interactive,"Bohemia Interactive,Bohemia Interactive","Survival,Zombies,Open World,Multiplayer,PvP,Ma...","Multi-player,Online Multi-Player,Steam Worksho...","English,French,Italian,German,Spanish - Spain,...",NaN,"Action,Adventure,Massively Multiplayer",About This Game The post-soviet country of Ch...,NaN,"Minimum:,OS:,Windows 7/8.1 64-bit,Processor:,I...","Recommended:,OS:,Windows 10 64-bit,Processor:,...",$44.99,NaN
4,https://store.steampowered.com/app/8500/EVE_On...,app,EVE Online,EVE Online is a community-driven spaceship MMO...,"Mixed,(287),- 54% of the 287 user reviews in t...","Mostly Positive,(11,481),- 74% of the 11,481 u...","May 6, 2003",CCP,"CCP,CCP","Space,Massively Multiplayer,Sci-fi,Sandbox,MMO...","Multi-player,Online Multi-Player,MMO,Co-op,Onl...","English,German,Russian,French",NaN,"Action,Free to Play,Massively Multiplayer,RPG,...",About This Game,NaN,"Minimum:,OS:,Windows 7,Processor:,Intel Dual C...","Recommended:,OS:,Windows 10,Processor:,Intel i...",Free,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40828,https://store.steampowered.com/app/899836/Rock...,app,Rocksmith® 2014 Edition – Remastered – Sabaton...,NaN,NaN,NaN,"Feb 12, 2019",Ubisoft - San Francisco,NaN,"Casual,Simulation","Single-player,Shared/Split Screen,Downloadable...","English,German,French,Italian,Spanish - Spain,...",NaN,"Casual,Simulation","About This Content Play ""Ghost Division"" by S...",NaN,"Minimum:,OS:,Windows Vista, Windows 7, Windows...","Recommended:,OS:,Windows Vista, Windows 7, Win...",$2.99,NaN
40829,https://store.steampowered.com/app/899832/Rock...,app,Rocksmith® 2014 Edition – Remastered – Stone T...,NaN,NaN,NaN,"Feb 5, 2019",Ubisoft - San Francisco,NaN,"Casual,Simulation","Single-player,Shared/Split Screen,Downloadable...","English,German,French,Italian,Spanish - Spain,...",NaN,"Casual,Simulation","About This Content Play ""Trippin’ on a Hole i...",NaN,"Minimum:,OS:,Windows Vista, Windows 7, Windows...","Recommended:,OS:,Windows Vista, Windows 7, Win...",$2.99,NaN
40830,https://store.steampowered.com/app/906840/Fant...,app,Fantasy Grounds - Quests of Doom 4: A Midnight...,NaN,NaN,NaN,"Jul 31, 2018","SmiteWorks USA, LLC",NaN,"RPG,Indie,Strategy,Software,Turn-Based,Fantasy...","Multi-player,Co-op,Cross-Platform Multiplayer,...",English,NaN,"Indie,RPG,Strategy",About This Content Quests of Doom 4: A Midni...,NaN,"Minimum:,OS:,Windows 7x , 8x or 10x,Processor:...","Recommended:,OS:,Windows 7x , 8x or 10x,Proces...",$7.99,NaN
40831,https://store.steampowered.com/app/906635/Mega...,app,Mega Man X5 Sound Collection,NaN,NaN,NaN,"Jul 24, 2018","CAPCOM CO., LTD","CAPCOM CO., LTD,CAPCOM CO., LTD",Action,"Single-player,Downloadable Content,Steam Achie...","English,French,Italian,German,Spanish - Spain,...",NaN,Action,About This Content Get equipped with the stun...,NaN,"Minimum:,OS:,WINDOWS® 7 (64bit),Processor:,Int...","Recommended:,OS:,WINDOWS®10 (64bit),Processor:...",$9.99,NaN
40832,https://store.steampowered.com/app/908000/Stor...,app,Stories In Stone,An RPG about a tribe exploring an ancient worl...,NaN,NaN,"Aug 8, 2018","16 Bit Psych,Kyle B","Self-Publish,Self-Publish","RPG,Adventure","Single-player,Partial Controller Support,Profi...",English,NaN,"Adventure,RPG",About This Game An RPG about a tribe explori...,NaN,NaN,NaN,$4.99,$2.80

In [636]:
merged_sales_steam[merged_sales_steam.Name=="PLAYERUNKNOWN'S BATTLEGROUNDS"]

                                Name  sentiment_score  Global_Sales   playtime
16266  PLAYERUNKNOWN'S BATTLEGROUNDS              5.0      0.446395  84.473946

In [558]:
hashmap = {game: i for i,game in enumerate(list(merged_sales_metacritic.Name))}

In [559]:
def fuzzy_matching(hashmap, fav_game):
        """
        return the closest match via fuzzy ratio.
        If no match found, return None
        Parameters
        ----------
        hashmap: dict, map movie title name to index of the movie in data
        fav_movie: str, name of user input movie
        Return
        ------
        index of the closest match
        """
        match_tuple = []
        # get match
        for title, idx in hashmap.items():
            ratio = fuzz.token_sort_ratio(title.lower(), fav_game.lower())
            if ratio >= 50:
                match_tuple.append((title, idx, ratio))
        # sort
        match_tuple = sorted(match_tuple, key=lambda x: x[2])[::-1]
        if not match_tuple:
            print('Oops! No match is found')
        else:
            print('Found possible matches in our database: '
                  '{0}\n'.format([x[0] for x in match_tuple]))
        return match_tuple[0][1]

Found possible matches in our database: ['FIFA 2001: Major League Soccer', 'FIFA World Cup: Germany 2006', 'FIFA Street 3', 'FIFA Street 2', 'FIFA Street', 'FIFA Soccer 2005', 'FIFA Soccer 2004', 'FIFA Soccer 2003', 'FIFA Soccer 2002', 'FIFA Soccer 13', 'FIFA Soccer 11', 'FIFA Soccer 10', 'FIFA Soccer 09 All-Play', 'FIFA Soccer 09', 'FIFA Soccer 08', 'FIFA Soccer 06', 'FIFA Soccer', 'FIFA Manager 12', 'FIFA 2001 Major League Soccer', 'FIFA 17', 'FIFA 16', 'FIFA 15', 'FIFA 14', 'FIFA 06: Road to FIFA World Cup', '2014 FIFA World Cup Brazil', '2010 FIFA World Cup South Africa', '2002 FIFA World Cup']

[('FIFA 2001: Major League Soccer', 3909, 100), ('FIFA World Cup: Germany 2006', 991, 100), ('FIFA Street 3', 990, 100), ('FIFA Street 2', 989, 100), ('FIFA Street', 3911, 100), ('FIFA Soccer 2005', 987, 100), ('FIFA Soccer 2004', 986, 100), ('FIFA Soccer 2003', 985, 100), ('FIFA Soccer 2002', 984, 100), ('FIFA Soccer 13', 3910, 100), ('FIFA Soccer 11', 982, 100), ('FIFA Soccer 10', 981, 100), ('FIFA Soccer 09 All-Play', 980, 100), ('FIFA Soccer 09', 979, 100), ('FIFA Soccer 08', 978, 100), ('FIFA Soccer 06', 977, 100), ('FIFA Soccer', 976, 100), ('FIFA Manager 12', 975, 100), ('FIFA 2001 Major League Soccer', 974, 100), ('FIFA 17', 973, 100), ('FIFA 16', 972, 100), ('FIFA 15', 971, 100), ('FIFA 14', 3908, 100), ('FIFA 06: Road to FIFA World Cup', 969, 100), ('2014 FIFA World Cup Brazil', 7, 100), ('2010 FIFA World Cup South Africa', 6, 100), ('2002 FIFA World Cup', 5, 100)]

In [409]:
def inference(model, data, hashmap,
                   fav_game, n_recommendations):
        """
        return top n similar movie recommendations based on user's input movie
        Parameters
        ----------
        model: sklearn model, knn model
        data: movie-user matrix
        hashmap: dict, map movie title name to index of the movie in data
        fav_movie: str, name of user input movie
        n_recommendations: int, top n recommendations
        Return
        ------
        list of top n similar movie recommendations
        """
        # fit
        model.fit(data)
        # get input movie index
        print('You have input movie:', fav_game)
        idx = fuzzy_matching(hashmap, fav_game)
        # inference
        print('Recommendation system start to make inference')
        print('......\n')
        t0 = time.time()
        distances, indices = model.kneighbors(
            data.iloc[idx,:],
            n_neighbors=n_recommendations+1)
        # get list of raw idx of recommendations
        raw_recommends = \
            sorted(
                list(
                    zip(
                        indices.squeeze().tolist(),
                        distances.squeeze().tolist()
                    )
                ),
                key=lambda x: x[1]
            )[:0:-1]
        print('It took my system {:.2f}s to make inference \n\
              '.format(time.time() - t0))
        # return recommendation (movieId, distance)
        return raw_recommends

In [560]:
from sklearn.neighbors import NearestNeighbors
model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1)

In [594]:
merged_sales_ign

                                  Name       Genre  Global_Sales  Score
0                           007 Racing      Racing      0.530000  5.000
1                            1 vs. 100      Trivia      0.090000  6.000
2                            1701 A.D.  Simulation      0.300000  8.200
3                  2002 FIFA World Cup      Sports      0.276667  8.500
4     2010 FIFA World Cup South Africa      Sports      0.750000  7.275
...                                ...         ...           ...    ...
3568                      Zoo Tycoon 2  Simulation      0.060000  7.500
3569                   Zoo Tycoon 2 DS  Simulation      0.300000  7.000
3570                     Zoo Tycoon DS  Simulation      1.000000  4.000
3571                           ZooCube      Puzzle      0.035000  6.550
3572                         de Blob 2  Platformer      0.165000  7.875

[3573 rows x 4 columns]

In [562]:
model_knn.fit(merged_sales_metacritic.iloc[:,1:])

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=-1, n_neighbors=20, p=2,
                 radius=1.0)

In [563]:
nearest_neighbors=model_knn.kneighbors(merged_sales_metacritic.iloc[:,1:])

In [598]:
idx=fuzzy_matching(hashmap,"Call of Duty")

Found possible matches in our database: ['Call of Duty 3', 'Call of Duty 2', 'Call of Duty: Ghosts', 'Call of Duty: Black Ops', 'Call of Juarez', 'Call of Duty: Finest Hour', 'Call of Duty: World at War', 'Call of Duty: Black Ops II', 'Call of Duty: Roads to Victory', 'Call of Duty: Modern Warfare 3', 'Call of Duty: Modern Warfare 2', 'Call of Duty: Advanced Warfare', 'Call of Duty 4: Modern Warfare', 'Child of Eden', 'Child of Light', 'Galleon: Islands of Mystery', 'Destroy All Humans!', 'Lords of the Fallen', 'Darkest of Days', 'Destroy All Humans! 2', 'Age of Mythology', 'ATV Offroad Fury']

In [599]:
indices=[imp for _,imp in sorted(list(zip(nearest_neighbors[0][idx],nearest_neighbors[1][idx])),key=lambda x:x[0],reverse=True)]

In [600]:
final_to_work.iloc[indices,:]['Name']

2538                      SOCOM 3: U.S. Navy SEALs
1485               King's Bounty: Armored Princess
141                 Assassin's Creed II: Discovery
2715             Smash Court Tennis Pro Tournament
2730              Soldier of Fortune: Gold Edition
2033                                       NFL 2K3
142                           Assassin's Creed III
145                     Assassin's Creed Syndicate
334                 Bruce Lee: Quest of the Dragon
1064     Final Fantasy XI: Treasures of Aht Urhgan
843                              Dungeon Siege III
238                               Big Beach Sports
1198                         God of War Collection
606                                      Dark Void
2239    Phineas and Ferb: Across the 2nd Dimension
3031                                     Tetris DS
973                                        FIFA 17
939                        Evolution Skateboarding
600                 Dark Angel: Vampire Apocalypse
357                              Buzz! Master Quiz
Name: Name, dtype: object

In [557]:
merged_sales_metacritic

                                  Name  Global_Sales  metascore  userscore
0                           007 Racing      0.530000   4.025974   4.719101
1               007: Quantum of Solace      0.653333   5.649351   7.078652
2         007: The World is not Enough      1.235000   5.324675   7.078652
3                            1701 A.D.      0.300000   7.662338   8.651685
4     18 Wheeler: American Pro Trucker      0.303333   4.935065   6.825843
...                                ...           ...        ...        ...
3471                Zumba Fitness Rush      0.190000   6.883117   6.404494
3472                           de Blob      0.970000   7.027091   8.011766
3473                         de Blob 2      0.165000   6.840402   7.018041
3474                        echochrome      0.090000   7.792208   7.977528
3475                            nail'd      0.110000   6.017316   7.303371

[3476 rows x 4 columns]

In [411]:
import time
def make_recommendations(fav_game, n_recommendations,hashmap,data,model_knn):
        """
        make top n movie recommendations
        Parameters
        ----------
        fav_movie: str, name of user input movie
        n_recommendations: int, top n recommendations
        """
        # get data
        game_user_mat_sparse, hashmap = data,hashmap
        # get recommendations
        raw_recommends = inference(
            model_knn, data, hashmap,
            fav_game, n_recommendations)
        # print results
        reverse_hashmap = {v: k for k, v in hashmap.items()}
        print('Recommendations for {}:'.format(fav_game))
        for i, (idx, dist) in enumerate(raw_recommends):
            print('{0}: {1}, with distance '
                  'of {2}'.format(i+1, reverse_hashmap[idx], dist))

In [412]:
make_recommendations('Tomb Raider',10,hashmap,final_to_work,model_knn)

ValueError: could not convert string to float: '007 Racing'

In [408]:
fuzzy_matching(hashmap,'Call of Duty')

Found possible matches in our database: ['Call of Duty®: WWII - Season Pass', 'Call of Duty®: WWII - Call of Duty™ Endowment Fear Not Pack', 'Call of Duty®: WWII', 'Call of Duty®: Modern Warfare® Remastered', 'Call of Duty®: Modern Warfare® 3 Collection 3: Chaos Pack', 'Call of Duty®: Modern Warfare® 3 Collection 2', 'Call of Duty®: Modern Warfare® 3', 'Call of Duty®: Modern Warfare® 2 Stimulus Package', 'Call of Duty®: Modern Warfare® 2', 'Call of Duty®: Infinite Warfare - Grandma Knows Best VO Pack', 'Call of Duty®: Infinite Warfare', 'Call of Duty®: Ghosts - Zakhaev Special Character', 'Call of Duty®: Ghosts - Wolf Skin', 'Call of Duty®: Ghosts - Weapon - The Ripper', 'Call of Duty®: Ghosts - Weapon - The Maverick', 'Call of Duty®: Ghosts - Unicorn Pack', 'Call of Duty®: Ghosts - Squad Pack - Resistance', 'Call of Duty®: Ghosts - Squad Pack - Extinction', 'Call of Duty®: Ghosts - Spectrum Pack', 'Call of Duty®: Ghosts - Rorke Special Character', 'Call of Duty®: Ghosts - Onslaught', 'Call of Duty®: Ghosts - Nemesis', 'Call of Duty®: Ghosts - Nebula Pack', 'Call of Duty®: Ghosts - Leopard Pack', 'Call of Duty®: Ghosts - Legend Pack - Makarov', 'Call of Duty®: Ghosts - Legend Pack - CPT Price', 'Call of Duty®: Ghosts - Keegan Special Character', 'Call of Duty®: Ghosts - Invasion', 'Call of Duty®: Ghosts - Inferno Character Pack', 'Call of Duty®: Ghosts - Hesh Special Character', 'Call of Duty®: Ghosts - Hazmat Special Character', 'Call of Duty®: Ghosts - Fitness Pack', 'Call of Duty®: Ghosts - Festive Personalization Pack', 'Call of Duty®: Ghosts - Extinction Pack', 'Call of Duty®: Ghosts - Elias Special Character', 'Call of Duty®: Ghosts - Ducky Pack', 'Call of Duty®: Ghosts - Digital Hardened Edition', 'Call of Duty®: Ghosts - Devastation', 'Call of Duty®: Ghosts - Blunt Force Pack', 'Call of Duty®: Ghosts - Blunt Force Character Pack', 'Call of Duty®: Ghosts - Bling Pack', 'Call of Duty®: Ghosts - Bling Character Pack', 'Call of Duty®: Ghosts - Astronaut Special Character', 'Call of Duty®: Ghosts - Abstract Pack', 'Call of Duty®: Ghosts - 1987 Pack', 'Call of Duty®: Ghosts -  Flags of the World Pack', 'Call of Duty®: Ghosts', 'Call of Duty®: Black Ops III - Zombies Chronicles', 'Call of Duty®: Black Ops III - Zetsubou No Shima Zombies Map', 'Call of Duty®: Black Ops III - The Giant Zombies Map', 'Call of Duty®: Black Ops III - Season Pass', 'Call of Duty®: Black Ops III - Revelations Zombies Map', 'Call of Duty®: Black Ops III - C.O.D.E. Double Duty Pack', 'Call of Duty®: Black Ops III', 'Call of Duty®: Black Ops II - Zombies Personalization Pack', 'Call of Duty®: Black Ops II - Viper Personalization Pack', 'Call of Duty®: Black Ops II - Vengeance', 'Call of Duty®: Black Ops II - Uprising', 'Call of Duty®: Black Ops II - Rogue Personalization Pack', 'Call of Duty®: Black Ops II - Revolution', 'Call of Duty®: Black Ops II - Paladin Personalization Pack', 'Call of Duty®: Black Ops II - Pack-A-Punch Personalization Pack', 'Call of Duty®: Black Ops II - Octane Personalization Pack', 'Call of Duty®: Black Ops II - Glam Personalization Pack', 'Call of Duty®: Black Ops II - Extra Slots Pack', 'Call of Duty®: Black Ops II - Dragon Personalization Pack', "Call of Duty®: Black Ops II - Dead Man's Hand Personalization Pack", 'Call of Duty®: Black Ops II - Cyborg Personalization Pack', 'Call of Duty®: Black Ops II - Coyote Personalization Pack', 'Call of Duty®: Black Ops II - Comics Personalization Pack', 'Call of Duty®: Black Ops II - Breach Personalization Pack', 'Call of Duty®: Black Ops II - Benjamins Personalization Pack', 'Call of Duty®: Black Ops II - Beast Personalization Pack', 'Call of Duty®: Black Ops II - Asian Flags of the World Calling Card Pack', 'Call of Duty®: Black Ops II - Aqua Personalization Pack', 'Call of Duty®: Black Ops II - Apocalypse', 'Call of Duty®: Black Ops II - Afterlife Personalization Pack', 'Call of Duty®: Black Ops II', 'Call of Duty®: Black Ops Annihilation Content Pack', 'Call of Duty®: Black Ops', 'Call of Duty®: Advanced Warfare - United Kingdom Exoskeleton Pack', 'Call of Duty®: Advanced Warfare - Tiki Personalization Pack', 'Call of Duty®: Advanced Warfare - Steampunk Exoskeleton Pack', 'Call of Duty®: Advanced Warfare - Spain Exoskeleton Pack', 'Call of Duty®: Advanced Warfare - Season Pass', 'Call of Duty®: Advanced Warfare - Reckoning', 'Call of Duty®: Advanced Warfare - Psychedelic Personalization Pack', 'Call of Duty®: Advanced Warfare - Panda Exoskeleton Pack', 'Call of Duty®: Advanced Warfare - Netherlands Exoskeleton Pack', 'Call of Duty®: Advanced Warfare - Nanotech Premium Personalization Pack', 'Call of Duty®: Advanced Warfare - Lightning Premium Personalization Pack', 'Call of Duty®: Advanced Warfare - Lightning Personalization Pack', 'Call of Duty®: Advanced Warfare - Lagoon Personalization Pack', 'Call of Duty®: Advanced Warfare - Havoc', 'Call of Duty®: Advanced Warfare - Gold Edition', 'Call of Duty®: Advanced Warfare - Germany Exoskeleton Pack', 'Call of Duty®: Advanced Warfare - Extra Create A Class Slots', 'Call of Duty®: Advanced Warfare - Extra Armory Slots 5', 'Call of Duty®: Advanced Warfare - Extra Armory Slots 3', 'Call of Duty®: Advanced Warfare - Extra Armory Slots 2', 'Call of Duty®: Advanced Warfare - Extra Armory Slots 1', 'Call of Duty®: Advanced Warfare - Disco Personalization Pack', 'Call of Duty®: Advanced Warfare - Creature Personalization Pack', 'Call of Duty®: Advanced Warfare - Championship Premium Personalization Pack', 'Call of Duty®: Advanced Warfare - Canada Exoskeleton Pack', 'Call of Duty®: Advanced Warfare - Backdraft Personalization Pack', 'Call of Duty®: Advanced Warfare - Australia Exoskeleton Pack', 'Call of Duty®: Advanced Warfare - Ascendance', 'Call of Duty® 4: Modern Warfare®', 'Call of Duty® 2', 'Call of Duty®', 'Call of Duty: United Offensive', 'Call of Duty: Ghosts - Season Pass', 'Call of Duty: Black Ops III - Multiplayer Starter Pack', 'Call of Duty: Black Ops - Rezurrection Mac Edition', 'Call of Duty: Black Ops - Mac Edition', 'Call of Duty: Modern Warfare: Mobilized', 'Call of Duty: World at War', 'Call of Duty: Roads to Victory', 'Call of Duty: Modern Warfare 3', 'Call of Duty: Modern Warfare 2', 'Call of Duty: Ghosts', 'Call of Duty: Finest Hour', 'Call of Duty: Black Ops II', 'Call of Duty: Black Ops', 'Call of Duty: Advanced Warfare', 'Call of Duty 4: Modern Warfare', 'Call of Duty 3', 'Call of Duty 2', 'Call Of Unity', 'Call of War', 'Port of Call', 'theHunter™: Call of the Wild - Weapon Pack 2', 'theHunter™: Call of the Wild - Weapon Pack 1', 'theHunter™: Call of the Wild - TruRACS', 'theHunter™: Call of the Wild - Trophy Lodge Spring Creek Manor', 'theHunter™: Call of the Wild - Treestand & Tripod Pack', 'theHunter™: Call of the Wild - Shooting Range', 'theHunter™: Call of the Wild - Parque Fernando', 'theHunter™: Call of the Wild - New Species 2019', 'theHunter™: Call of the Wild - New Species 2018', 'theHunter™: Call of the Wild - Medved-Taiga', 'theHunter™: Call of the Wild - Facing the Wild 1', 'theHunter™: Call of the Wild - ATV SABER 4X4', 'theHunter: Call of the Wild™', 'Total War: WARHAMMER - Call of the Beastmen', 'The Gallery - Episode 1: Call of the Starseed', 'Raptor: Call of The Shadows - 2015 Edition', 'RPG Maker MV - Call of Darkness: Japanese Resource Pack', "Forest Legends: The Call of Love Collector's Edition", 'Call of Pixel: Close Quarters', 'Call of Otechestvo Donbass', 'Call of Juarez™', 'Call of Juarez®: Bound in Blood', 'Call of Juarez® Gunslinger', 'Call of Fries', 'Call of Cthulhu®: Dark Corners of the Earth', 'Call of Cthulhu®', 'Call of Cthulhu: Shadow of the Comet', 'Call of Cthulhu: Prisoner of Ice', 'Call of Bitcoin', 'Call Of The Mighty Warriors', 'Call of Juarez: The Cartel', 'Call of Juarez: Bound in Blood', 'Call of Juarez', 'Call of Cthulhu: Dark Corners of the Earth', 'Balls of Fury', 'All Is Dust']

8241

In [231]:
final_tidy_games.merge(final_ign,left_on='game',right_on='Game',how='left')

,game,owners,Game,Genre,Score
0,Half-Life 2,15000000,Half-Life 2,Shooter,9.55
1,Counter-Strike: Source,15000000,NaN,NaN,NaN
2,Counter-Strike: Condition Zero,15000000,Counter-Strike: Condition Zero,Shooter,7.00
3,Half-Life 2: Deathmatch,7500000,NaN,NaN,NaN
4,Half-Life: Source,3500000,NaN,NaN,NaN
...,...,...,...,...,...
26739,Draw Near,10000,NaN,NaN,NaN
26740,Alone,10000,NaN,NaN,NaN
26741,qrth-phyl,10000,NaN,NaN,NaN
26742,Guns and Notes,10000,NaN,NaN,NaN
26743,VANILLA - GARDEN OF JUDGEMENT,10000,NaN,NaN,NaN

In [227]:
pc_data

                                                   game   playtime
0                                           007 Legends   0.700000
1                                             0RBITALIS   0.400000
2     1... 2... 3... KICK IT! (Drop That Beat Like a...   4.000000
3                                       10 Second Ninja   2.950000
4                                            10,000,000   3.600000
...                                                 ...        ...
3595                                         rymdkapsel   1.100000
3596                                       sZone-Online   0.977586
3597                          the static speaks my name   0.250000
3598                                          theHunter   2.493548
3599                                   theHunter Primal  21.475000

[3600 rows x 2 columns]

In [229]:
final_tidy_games.merge(pc_data,on='game',how='left')

                                 game    owners   playtime
0                         Half-Life 2  15000000  11.967135
1              Counter-Strike: Source  15000000        NaN
2      Counter-Strike: Condition Zero  15000000        NaN
3             Half-Life 2: Deathmatch   7500000        NaN
4                   Half-Life: Source   3500000        NaN
...                               ...       ...        ...
26683                       Draw Near     10000        NaN
26684                           Alone     10000        NaN
26685                       qrth-phyl     10000        NaN
26686                  Guns and Notes     10000        NaN
26687   VANILLA - GARDEN OF JUDGEMENT     10000        NaN

[26688 rows x 3 columns]

In [41]:
metacritic_data=metacritic_data[metacritic_data['userscore']!='tbd']
metacritic_data[['metascore','userscore']]=metacritic_data[['metascore','userscore']].astype(float)
metacritic_data.groupby(['name'],as_index=False).agg({'metascore':'mean','userscore':'mean'})

C:\Users\adity\Anaconda3\lib\site-packages\pandas\core\ops\__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

                               name  metascore  userscore
0                            #IDARB  77.000000       7.10
1                          .detuned  46.000000       3.70
2           .hack//G.U. Last Recode  72.500000       7.15
3       .hack//G.U. vol. 1//Rebirth  69.000000       8.10
4     .hack//G.U. vol. 2//Reminisce  61.000000       8.30
...                             ...        ...        ...
9611                         nail'd  66.333333       7.00
9612                 oOo: Ascension  70.000000       8.00
9613                           rain  72.000000       7.90
9614    theHunter: Call of the Wild  64.000000       7.50
9615                            xXx  50.000000       5.00

[9616 rows x 3 columns]

In [153]:
metacritic_data['year']=pd.to_datetime(metacritic_data['date']).dt.year.astype('int')
metacritic_data=metacritic_data[metacritic_data['userscore']!='tbd']
metacritic_data[['metascore','userscore']]=metacritic_data[['metascore','userscore']].astype(float)
metacritic_data=metacritic_data.groupby(['name','year'],as_index=False).agg({'metascore':'mean','userscore':'mean'})

KeyError: 'date'

In [155]:
final_metacritic_data=metacritic_data[metacritic_data['year']>=2000].drop('year',axis=1)

In [117]:
final_meta_data=meta_data[['game','metascore','user_score','year']]
final_meta_data[final_meta_data['year']>2000]

TypeError: '>' not supported between instances of 'str' and 'int'

In [104]:
final_sales.columns

Index(['Name', 'Global_Sales', 'Year_1980', 'Year_1981', 'Year_1982',
       'Year_1983', 'Year_1984', 'Year_1985', 'Year_1986', 'Year_1987',
       'Year_1988', 'Year_1989', 'Year_1990', 'Year_1991', 'Year_1992',
       'Year_1993', 'Year_1994', 'Year_1995', 'Year_1996', 'Year_1997',
       'Year_1998', 'Year_1999', 'Year_2000', 'Year_2001', 'Year_2002',
       'Year_2003', 'Year_2004', 'Year_2005', 'Year_2006', 'Year_2007',
       'Year_2008', 'Year_2009', 'Year_2010', 'Year_2011', 'Year_2012',
       'Year_2013', 'Year_2014', 'Year_2015', 'Year_2016', 'Year_2017',
       'Year_2020', 'Genre_Action', 'Genre_Adventure', 'Genre_Fighting',
       'Genre_Misc', 'Genre_Platform', 'Genre_Puzzle', 'Genre_Racing',
       'Genre_Role-Playing', 'Genre_Shooter', 'Genre_Simulation',
       'Genre_Sports', 'Genre_Strategy'],
      dtype='object')

In [158]:
meta_data['year']=pd.to_datetime(meta_data['release_date']).dt.year.astype('int')

In [165]:
final_meta_data=meta_data.loc[meta_data['year']>=2000,['game','metascore','user_score']]

In [163]:
meta_data

,game,platform,developer,genre,number_players,rating,release_date,positive_critics,neutral_critics,negative_critics,positive_users,neutral_users,negative_users,metascore,user_score,year
0,Portal 2,PC,Valve Software,Action,NaN,E10+,"Apr 18, 2011",51,1,0,1700,107,19,95,90,2011
1,The Elder Scrolls V: Skyrim,PC,Bethesda Game Studios,Role-Playing,No Online Multiplayer,M,"Nov 10, 2011",32,0,0,1616,322,451,94,82,2011
2,The Legend of Zelda: Ocarina of Time 3D,3DS,GREZZO,Miscellaneous,No Online Multiplayer,E10+,"Jun 19, 2011",84,1,0,283,20,5,94,90,2011
3,Batman: Arkham City,PC,Rocksteady Studios,Action Adventure,NaN,T,"Nov 21, 2011",27,0,0,240,34,27,91,87,2011
4,Super Mario 3D Land,3DS,Nintendo,Action,No Online Multiplayer,E,"Nov 13, 2011",81,1,0,251,39,11,90,84,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5694,Modern Combat: Blackout,Switch,Gameloft,Action,No Online Multiplayer,NaN,"Feb 14, 2019",0,5,2,1,0,1,53,57,2019
5695,Fimbul,PS4,Zaxis,Action Adventure,No Online Multiplayer,NaN,"Feb 28, 2019",0,7,2,1,0,0,52,18,2019
5696,Generation Zero,PC,Avalanche Studios,Action Adventure,Online Multiplayer,T,"Mar 26, 2019",1,11,6,5,2,6,50,57,2019
5697,Vane,PS4,Friend & Foe,Adventure,No Online Multiplayer,E10+,"Jan 15, 2019",3,26,22,2,2,2,49,55,2019
5698,Left Alive,PS4,"Square Enix, ilinx inc.",Action Adventure,No Online Multiplayer,M,"Mar 5, 2019",1,7,27,25,8,21,37,79,2019

In [112]:
pc_data=steam_copy[steam_copy['purchase']=='play'].drop(['userid','purchase'],axis=1).groupby('game',as_index=False).mean()

In [113]:
## creating indicators
pc_data

                                                   game   playtime
0                                           007 Legends   0.700000
1                                             0RBITALIS   0.400000
2     1... 2... 3... KICK IT! (Drop That Beat Like a...   4.000000
3                                       10 Second Ninja   2.950000
4                                            10,000,000   3.600000
...                                                 ...        ...
3595                                         rymdkapsel   1.100000
3596                                       sZone-Online   0.977586
3597                          the static speaks my name   0.250000
3598                                          theHunter   2.493548
3599                                   theHunter Primal  21.475000

[3600 rows x 2 columns]